<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conditional</title>
</head>
<body>
    <h1>conditional 제어문</h1>

    <h2>th:if, th:unless</h2>
    <p th:if="${num > 400}">400 초과</p>
    <p th:if="${num < 400}">400 미만</p>
    <p th:unless="${num > 400}">400 미만</p>
    <p th:unless="${num < 400}">400 초과</p>

    <th:block th:if="${str == '사과'}">
        <p>사과</p>
    </th:block>
    <p th:if="${str == '바나나'}">바나나</p>

    <p th:if="${num > 200 or num < 0}">200 초과 또는 0 미만</p>
    <p th:if="${str != null and str == '바나나'}">바나나</p>

    <p th:if="${!#strings.isEmpty(str) and str == '바나나'}">ㅂㄴㄴ</p>

    <h2>th:switch, th:case</h2>
    <th:block th:switch="${str}">
        <span th:case="사과">사과</span>
        <span th:case="바나나">바나나</span>
    </th:block>

    <h3>th:each를 통해 태그 반복 가능</h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>current</th>
            <th>even</th>
            <th>odd</th>
            <th>first</th>
            <th>last</th>
        </tr>
        <tr th:each="member, stat: ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.current}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>

    <h3>#numbers Utility Objecct를 이용한 반복문 작성</h3>
    <th:block th:each="num : ${#numbers.sequence(5,10)}">
<!--        <a th:href="@{|/numbering/${numStat.count}|}" th:text="번호 + ${num}"></a>-->
        <a th:href="@{|/numbering/${numStat.count}|}" th:text="|번호 ${num}|"></a>
    </th:block>
</body>
</html>