<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>expression</title>
</head>
<body>
    <h1>expression 표현식</h1>

    <h3>변수 표현식 ${...}</h3>
    <p th:text="${param.title}"></p>
    <p th:text="${param.no[0]}"></p>
    <p th:text="${param.no[1]}"></p>

    <h3>메세지 표현식 #{...}</h3>
    <p th:text="#{message.value}"></p>

    <h3>링크 표현식 @{...}</h3>
    <a th:href="@{/}">HOME</a>

    <h3>선택 변수 표현식 *{...}</h3>
    <p th:text="${member.name}"></p>
    <p th:object="${member}" th:text="*{age}"></p>
    <div th:object="${member}">
        <p th:text="*{gender}"></p>
        <p th:text="*{address}"></p>
    </div>

    <h3>html 출력 - th:text 모두 문자로 인식, th:utext 태그 자동인식, th:value</h3>
    <ul>
        <li th:text="${hello}"></li>
        <li th:utext="${hello}"></li>
        <li><input type="text" th:value="Thymeleaf"/></li>
    </ul>

    <!-- th:inline="none" 괄호 모두 표시 -->
    <h3 th:inline="none">인라인 표현식[[...]] : 모두 문자로 인식, [(...)] : 태그 자동인식</h3>
    <ul>
        <li th:inline="text">[[${hello}]]</li>
        <li th:inline="text">[(${hello})]</li>
        <li>[[${hello}]]</li>
        <li>[(${hello})]</li>
    </ul>
    <script th:inline="javascript">
        window.onload = function(){
            let hello = '[[${hello}]]';
            alert(hello);
        }
    </script>

    <h3>th:block 범위 지정시 사용</h3>
    <th:block th:object="${member}">
        <p th:text="*{name}"></p>
        <p th:text="*{age}"></p>
        <p th:text="*{gender}"></p>
        <p th:text="*{address}"></p>
    </th:block>

    <h2>리터럴 치환 |...|</h2>
    <h3>'+'를 쓰지않고 문자열 합치기</h3>
    <p th:object="${member}" th:text="|이름 : *{name}|"></p>
    <p th:object="${member}" th:text="|주소 : *{address}|"></p>
</body>
</html>